<style>
    table {
    counter-reset: tableCount;     
}
.counterCell:before {              
    content: counter(tableCount); 
    counter-increment: tableCount; 
}

</style>

<h1>Display</h1>
{{product_array.length}} Records Found

<table border='1'>
    <tr>
        <th>ID</th>
            <th>Product Name</th>
            <th>Subcategory Name</th>
        <th>Action</th>
    </tr>

{{#each product_array}}
    <tr>
    <td class="counterCell"></td>
    <td>{{product_name}}</td>
    <td>{{_subcategory.sub_category_name}}</td>
    <td>
        <a href="editpro/{{_id}}">Edit</a> |
        <a href="deletepro/{{_id}}" onclick="return confirm('Are you sure?')">Delete</a>

    </td>
    </tr>
{{/each}}


</table>